.carta {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 100%;
    margin: 40px auto;
    text-align: center;
    font-family: arial;
    background-color: map-get($ColorsAndFonts, bg-blanco);
    height: 79%;
    border-radius: 8px;
}

.precioCard {
    color: map-get($ColorsAndFonts, bg-negro);
    font-size: 22px;
}

.carta button {
    border: none;
    outline: 0;
    padding: 12px;
    color: map-get($ColorsAndFonts, bg-blanco);
    background-color: map-get($ColorsAndFonts, bg-negro);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    &:hover {
        opacity: 0.7;
    }
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 500px;
}

.korg {
    box-shadow: 0 4px 8px 0 $cards-shadow;
    max-width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-family: arial;
    position: relative;
    animation-name: animacionCarta;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

.widthImgKorg {
    width: 70%;
}

.cardScale {
    transition: all 0.35s ease-in-out;
}

.cardScale:hover {
    transform: scale(1.03);
}