.distribucion-footer {
    background-color: #3a3d41;
    box-shadow: 0 1px 1px 0 $cards-shadow;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 20px 30px;

    .footer-left p {
        color: #8f9296;
        font-size: 14px;
        margin: 0;  
    }

    div.footer-links {
        font-size: 18px;
        color: $bg-blanco;
        margin: 0 0 10px;
        padding: 0; 

        a {
            font-family: 'Bebas Neue', cursive;
            font-size: small;
            letter-spacing: 1px;
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
            margin: 3px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

