#mainProductos {
    background-color: #ccc;
}

#main {
    display: grid;
    grid-template-areas:
        "carru carru carru"
        "article1 article2 article3"
        "article4 article5 article6"
        "bigCard bigCard bigCard"
        "form form form";
    grid-template-rows: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
}

#carruselPrincipal {
    grid-area: carru;
}

#arti1 {
    grid-area: article1;
}

#arti2 {
    grid-area: article2;
}

#arti3 {
    grid-area: article3;
}

#arti4 {
    grid-area: article4;
}

#arti5 {
    grid-area: article5;
}

#arti6 {
    grid-area: article6;
}

#cartaGrande {
    grid-area: bigCard;
}

#formulario {
    grid-area: form;
}