@media screen and (max-width: 768px) {
    #formulario {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
    }

    #formContacto {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: -22px;
        margin-bottom: 15px;
    }

    .divDatosContacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 0;
    }

    .alinearDatosContacto {
        margin: 2px 0;
    }

}

/*---------------------------- media querie pagina contacto - para CELULAR 480px */

@media screen and (max-width: 480px) {
    #h3Contacto {
        font-size: 17px;
    }

    .aSizequeriemobile {
        font-size: 10px;
    }
}

/* ------------------------------------media querie responsive del index - para TABLET (768px) - */

@media screen and (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .h1Style {
        display: inline;
        padding: 0 30px;
        font-family: map-get($ColorsAndFonts, boldFont);
        letter-spacing: 0.5px;
        color: map-get($ColorsAndFonts, color-letters);
        margin-bottom: -2px;
        font-weight: 900;
        font-size: 35px;
        line-height: 1;
    }

    nav ul {
        display: inline-block;
        margin: 3px;
        padding-left: 0;
    }

    #divPrincipal {
        grid-template-areas:
            "article1 article2"
            "article3 article4"
            "article5 article6"
            "form form"
            "footer footer";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    #cartaGrande {
        display: none;
    }

    .cardScale {
        transition: all 0.35s ease-in-out;

        &:hover {
            transform: scale(1.03);
        }
    }   
}

/*------------------------------------media querie responsive del index - para CELULAR (480px) - */

@media screen and (max-width: 480px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    #divPrincipal {
        grid-template-areas:
            "article1"
            "article2"
            "article3"
            "article4"
            "article5"
            "article6"
            "form"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }

    #formulario h2 {
        font-size: 20px;
    }

    .aSizequeriemobile {
        font-size: 10px;
    }

    .cardScale {
        transition: all 0.35s ease-in-out;

        &:hover {
            transform: scale(1.03);
        }
    }
}



