nav ul {
    display: inline;
    margin-left: 30px;

    li {
        margin: 15px;
        font-family: map-get($ColorsAndFonts, boldFont);
        font-size: small;
        display: inline;
        list-style-type: none;

        a {
            @include anchorStyle;
            letter-spacing: 1px;

            &:hover {
                color: grey
            }
        }
    }
}
